// BOQUETS SECTION STYLING
#boquets {
  width: 100%;
  min-height: 850px;
  padding: 60px 50px;
  // TITLE
  h1 {
    font-size: 52px;
    font-family: candara;
  }
  // HOLDERS PRODUCTS
  .boquetsholder {
    width: 100%;
    min-height: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // WHEN SCREEN GETS SMALLER WRAP ITEMS
    flex-wrap: wrap;

    // AN ITEM HOLDS IMAGE AND INFO ABOUT PRODUCT
    .item {
      width: 280px;
      height: 350px;
      margin: 7px;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      position: relative;
      // background-color: red;
      margin-bottom: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 10px;
      .additembtn {
        width: 140px;
        height: 40px;
        background-color: $site-yellow;
        position: absolute;
        bottom: 15px;
        left: 72px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        display: none;

        h2 {
          padding-top: 15px;
          font-family: candara;
          font-size: 16px;
        }
      }
      .additembtn:hover {
        display: block;
        transition: 0.3s;
        background-color: $site-darkyellow;
        cursor: pointer;
      }

      // IMAGE
      img {
        width: 200px;
        height: 200px;
        margin-left: 42px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 200px;
        justify-content: center;
      }
      // HOLDS THE TEXT
      .itemtext {
        width: 100%;
        min-height: 55px;
        margin-top: 15px;
        text-align: center;
        // PRODUCT NAME
        h4 {
          font-size: 20px;
          font-family: candara;
          margin-bottom: 0px;
        }
        // PRODUCT COST
        h5 {
          font-size: 20px;
          font-family: candaraBold;
          color: $site-purple;
        }
      }
    }
    // WHEN HOVER POP OUT
    .item:hover {
      transform: scale(1.1);
      transition: 0.5s;

      .additembtn {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}
@media (max-width: 1000px) {
  #boquets {
    .boquetsholder {
      justify-content: center;
      .item {
        margin: 10px 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  #boquets {
    h1 {
      font-size: 36px;
      text-align: center;
    }
    .boquetsholder {
      justify-content: center;
      .item {
        margin: 10px 20px;
        height: 310px;
        img {
          width: 170px;
          height: 170px;
          margin-left: 58px;
        }
        .itemtext {
          h4 {
            font-size: 18px;
          }
          h5 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  #boquets {
    padding: 15px;
    .boquetsholder {
      justify-content: center;
      width: 300px;
      margin: 0 auto;
      padding-left: 0;
      .item {
        margin: 10px 20px;
        height: 250px;

        img {
          width: 170px;
          height: 170px;
          margin-left: 45px;
        }
      }
    }
  }
}
