li {
  list-style: none;
}

a {
  text-decoration: none;
}

// THIS IS THE MAIN NAVIGATION HOLDER
header {
  width: 100%;
  min-height: 60px;
  background-color: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  // PRIMARY CONTAINS HAMBUGER MENU, LOGO, LINKS, AND ICONS
  .primary-nav {
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    transition: 0.3s;

    // HAMBUGER MENU IS NOT DISPLAYED
    .hamburger {
      display: none;
      position: block;
      left: 20px;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3.2px;
      border-radius: 10px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: black;
    }
    // LINKS ARE DISPLAYED IN THE MIDDLE
    .links {
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        font-family: candara;
        font-size: 20px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
      }
      a:hover {
        color: $site-purple;
      }
    }

    a {
      .logo {
        width: 200px;
        height: 50px;
        h1 {
          font-size: 36px;
          font-family: candaraBold;
          color: black;
        }
      }
      .logo:hover {
        cursor: pointer;
      }
    }

    // LINK ICONS ARE DISPLAYS ON THE RIGHT
    .nav-tabs {
      width: 200px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search {
        width: 24px;
        height: 24px;
        background-image: url(../images/iconmonstr-magnifier-2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .search:hover {
        cursor: pointer;
      }
      .favorite {
        width: 24px;
        height: 24px;
        background-image: url(../images/iconmonstr-favorite-4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .favorite:hover {
        cursor: pointer;
      }
      .profile {
        width: 24px;
        height: 24px;
        background-image: url(../images/iconmonstr-user-6.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .profile:hover {
        cursor: pointer;
      }
      .cart {
        width: 24px;
        height: 24px;
        background-image: url(../images/iconmonstr-shopping-cart-2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .circleCount {
          width: 18px;
          height: 18px;
          background-color: $site-purple;
          border-radius: 20px;
          position: absolute;
          right: -5px;
          top: -2px;
          display: none;
          color: white;
          font-family: candara;
          text-align: center;
          padding-left: 6px;
          padding-bottom: 20px;
          font-size: 14px;
        }
      }
      .cart:hover {
        cursor: pointer;
      }
    }
  }
  // HOLDS LINKS THAT ARE DISPLAYED ON SMALLER SCREEN
  .secondary-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    display: none;
    transition: 0.3s;

    .nav-menu {
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            margin-top: 16px;
            height: 40px;
            padding: 10px 20px;
            text-decoration: none;
            color: $site-black;
            font-family: candara;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
          a:hover {
            color: $site-purple;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  header {
    min-height: 60px;
    .secondary-nav {
      .nav-menu {
        .disappear {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  header {
    min-height: 60px;
    .primary-nav {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: none;
      // SOME LINK ICONS DISAPPEAR
      .nav-tabs {
        width: 70px;
        .favorite {
          display: none;
        }
        .search {
          display: none;
        }
      }
      // HAMBUGER IS DISPLAYED
      .hamburger {
        display: block;
        padding-right: 40px;
      }
      // LINKS IN MAIN NAV DISAPPEAR
      .links {
        display: none;
      }
      a {
        margin: 0 auto;
        .logo {
          width: 116px;
          height: 30px;
          margin-left: 80px;
          margin: 0 auto;
          h1 {
            font-size: 24px;
          }
        }
      }
    }
    // LINKS IN SECOND NAV APPEAR
    .secondary-nav {
      display: block;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  header {
    min-height: 60px;
    .secondary-nav {
      padding-top: 10px;
      .nav-menu {
        min-height: 150px;

        ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          li {
            a {
              padding: 10px 20px;
              text-decoration: none;
              color: #111;
              font-family: candara;
              font-size: 20px;
              color: black;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              margin-top: 0;
            }
            a:hover {
              color: $site-purple;
              background-color: #fafafa;
            }
          }
        }
      }
    }
    // MENU IS OFF
    .nav-menu {
      display: none;
      top: 100px;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

      ul {
        flex-direction: column;
        li {
          margin-bottom: 5px;
          width: 100%;
        }
      }
    }

    // MENU IS ON
    .nav-menu.active {
      display: flex;
      margin: 0 auto;
    }

    .nav-item {
      margin: 2.5rem 0;
    }

    // CHANGING OF HAMBUGER ICON TO X
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
